:root {
	--font-family: "Rubik", sans-serif;
	--font-family-big-heading: "Oi", serif;
	--letter-spacing: -0.005em;
	--font-size-content-xs: 12px;
	--font-size-content-s: 14px;
	--font-size-content-m: 16px;
	--font-size-content-l: 20px;
	--font-size-heading-s: 24px;
	--font-size-heading-m: 32px;
	--font-size-heading-l: 42px;
	--font-size-heading-xl: 40px;
	--font-size-heading-xxl: 64px;
	
	
	--color-elem-primary: #FFFFFF;
	--color-elem-secondary: #787878;
	--color-elem-secondary-transparent-40: #FFFFFF66;
	--color-elem-secondary-transparent-20: #FFFFFF33;
	--color-elem-accent-violet: #8B5AF6;
	--color-elem-accent-pink: #F65ADC;
	--color-elem-accent-blue: #107384;
	--color-elem-accent-cyan: #2DB6CD;
	--color-elem-accent-green: #2A633C;
	--color-elem-accent-orange: #E65118;
	--color-elem-accent-red: #CB1C1B;
	--color-bg-primary: #131210;
	--color-bg-secondary: #1B1916;
	--color-bg-accent-blue: #2054C5;
	--color-bg-accent-yellow: #DEB200;
	--color-bg-accent-orange: #FD5B1D;
	--color-bg-accent-green: #6AC032;
	--color-bg-accent-red: #FE3231;
	--color-bg-accent-violet: #8B5AF6;
	--color-border-primary: #242120;
	--color-border-hightlight: #0F1115;

	--gradient-red-dred: linear-gradient(to bottom, var(--color-elem-accent-red), var(--color-bg-accent-red));
	--gradient-orange-red: linear-gradient(to bottom, var(--color-elem-accent-orange), var(--color-elem-accent-red));
	--gradient-yellow-orange: linear-gradient(to bottom, var(--color-bg-accent-yellow), var(--color-elem-accent-orange));
	--gradient-green-gdark: linear-gradient(to bottom, var(--color-bg-accent-green), var(--color-elem-accent-green));
	--gradient-blue-cyan: linear-gradient(to bottom, var(--color-elem-accent-blue), var(--color-elem-accent-cyan));
	--gradient-violet-blue: linear-gradient(to bottom, var(--color-elem-accent-violet), var(--color-bg-accent-blue));
	--gradient-violet-purple: linear-gradient(to bottom, var(--color-elem-accent-pink), var(--color-elem-accent-violet));
	
	/* Shadows */
	--shadow-header: 0px 0px 4px #00000022;


	--border-radius-button: 50px;
	--border-radius-card-s: 1px;
	--border-radius-card-m: 4px;
	--border-radius-card-l: 8px;

	--max-width-content-wrapper: 1280px;
	--main-header-height: 76px;
	--content-area-padding: 16px;
	--column-count: 12;
	--space-column-gap: 12px;
	--space-column-plus-gap: calc((var(--max-width-content-wrapper) + var(--space-column-gap)) / var(--column-count));
	--space-column: calc(var(--space-column-plus-gap) - var(--space-column-gap));
	--space-column-2: calc((var(--space-column-plus-gap)) * 2 - var(--space-column-gap));
	--space-column-3: calc((var(--space-column-plus-gap)) * 3 - var(--space-column-gap));
	--space-column-4: calc((var(--space-column-plus-gap)) * 4 - var(--space-column-gap));
	--space-column-6: calc((var(--space-column-plus-gap)) * 6 - var(--space-column-gap));
	--space-column-8: calc((var(--space-column-plus-gap)) * 8 - var(--space-column-gap));
	--space-column-10: calc((var(--space-column-plus-gap)) * 10 - var(--space-column-gap));

	--spacing-article: 16px;
	--spacing-block: 64px;

	/* Transition times */
	--transition-time-s: 150ms;
	--transition-time-m: 250ms;
	--transition-time-l: 350ms;

	--transition-cubic-easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
	--transition-cubic-easeInOut: cubic-bezier(0.12, 0, 0.39, 0);

	--transition-s: var(--transition-time-s) ;
	--transition-m: var(--transition-time-m) var(--transition-cubic-easeInOut);
	--transition-l: var(--transition-time-l) var(--transition-cubic-easeInOut);
}