.svg-res {
	position: fixed;
	top: -100%;
	left: -100%;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

/* Blocks, sections and containers */

.section {
	padding: var(--spacing-block) 0;
}

.section.is-color-grey {
	background-color: var(--color-border-primary);
}

.section:first-of-type:not(#hello) {
	padding-top: calc(var(--spacing-block) + 76px) !important;
}

.content-wrapper {
	box-sizing: content-box;
	max-width: var(--max-width-content-wrapper);
	padding: 0 var(--content-area-padding);
	margin: 0 auto;
}

.section .content-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-block);
}

.section__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--spacing-block)/2);
}

.content-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space-column-gap);
}

.content-grid.is-columns-4 {
	grid-template-columns: repeat(4, 1fr);

}


/* Text elements */

.font-content-xs {
	color: var(--color-elem-primary);
	font-size: var(--font-size-content-xs);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
	line-height: 110%;
}
.font-content-s {
	color: var(--color-elem-primary);
	font-size: var(--font-size-content-s);
	font-weight: 500;
	letter-spacing: var(--letter-spacing);
	line-height: 110%;
}
.font-content-m {
	color: var(--color-elem-primary);
	font-size: var(--font-size-content-m);
	font-weight: 400;
	letter-spacing: var(--letter-spacing);
	line-height: 120%;
}
.font-content-l {
	color: var(--color-elem-primary);
	font-size: var(--font-size-content-l);
	font-weight: 400;
	letter-spacing: var(--letter-spacing);
	line-height: 110%;
}

.font-heading-s {
	color: var(--color-elem-primary);
	font-size: var(--font-size-heading-s);
	font-weight: 600;
	letter-spacing: var(--letter-spacing);
	text-transform: uppercase;
	line-height: 110%;
}
.font-heading-m {
	color: var(--color-elem-primary);
	font-size: var(--font-size-heading-m);
	font-weight: 800;
	letter-spacing: var(--letter-spacing);
	line-height: 110%;
	text-transform: uppercase;
}
.font-heading-l {
	color: var(--color-elem-primary);
	font-size: var(--font-size-heading-l);
	font-weight: 800;
	letter-spacing: var(--letter-spacing);
	text-transform: uppercase;
	line-height: 105%;
}
.font-heading-xl {
	max-width: 100%;
	color: var(--color-elem-primary);
	font-size: var(--font-size-heading-xl);
	font-weight: 800;
	word-wrap: break-word;
  hyphens: auto;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
	line-height: 110%;
}
.font-heading-xxl {
	max-width: 100%;
	color: var(--color-elem-primary);
	font-family: var(--font-family-big-heading);
	font-size: var(--font-size-heading-xxl);
	text-transform: uppercase;
	word-wrap: anywhere;
  hyphens: auto;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 100%;
}

.font-content-xs.is-color-grey,
.font-content-s.is-color-grey,
.font-content-m.is-color-grey,
.font-content-l.is-color-grey,
.font-content-xl.is-color-grey,
.font-content-xxl .is-color-grey{
	color: var(--color-elem-secondary);
}


/* Buttons */

.button {
	--button-color-bg: var(--color-elem-primary);
	--button-color-text: var(--color-bg-primary);
	--button-color-border: transparent;
	--button-font-size: var(--font-size-content-l);
	--button-height: 36px;
	--button-padding-gutter: 12px;
	--button-flex-gap: 8px;

	position: relative;
	display: inline-flex;
	box-sizing: border-box;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: var(--button-flex-gap);
	padding: 0 var(--button-padding-gutter);
	width: max-content;
	height: var(--button-height);
	color: var(--button-color-text);
	background: var(--button-color-bg);
	border: 1px solid var(--button-color-border);
	border-radius: var(--border-radius-button);
	font-size: var(--button-font-size);
	font-weight: 400;
	letter-spacing: var(--letter-spacing);
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	pointer-events: all;
	transition: var(--transition-s);
	overflow: hidden;
}

.button.is-big-width {
	width: 100%;
	max-width: var(--space-column-4);
}

.button.is-size-s {
	--button-font-size: var(--font-size-content-s);
	--button-height: 32px;
	--button-padding-gutter: 12px;
	--button-flex-gap: 8px;
}

.button.is-size-l {
	--button-font-size: var(--font-size-content-l);
	--button-height: 44px;
	--button-padding-gutter: 20px;
	--button-flex-gap: 8px;
}

.button.is-size-xl {
	--button-font-size: var(--font-size-content-l);
	--button-height: 56px;
	--button-padding-gutter: 24px;
	--button-flex-gap: 8px;
}

.button.is-size-s .icon {
	--icon-size: 14px;
	transition: var(--transition-s);
}

.button.has-only-icon {
	--button-padding-gutter: 0px;
	width: var(--button-height);
	justify-content: center;
}

.button .icon {
	--icon-size: 18px;
}

.button.button.is-size-l .icon,
.button.button.is-size-l .icon {
	--icon-size: 20px;
}

.button:active {
	filter: brightness(94%);
}

.button:not(.is-style-ticket, .is-style-bordered, .is-style-transparented) .icon {
	filter: brightness(0);
}

.button.is-style-bordered {
	--button-color-bg: transparent;
	--button-color-text: var(--color-elem-primary);
	--button-color-border: var(--color-elem-primary);
}

.button.is-style-transparented {
	--button-color-bg: transparent;
	--button-color-text: var(--color-elem-primary);
	--button-color-border: transparent;
}

.button.is-style-transparented.button.is-size-s {
	font-weight: 600;
}

.button.is-style-ticket {
	--button-color-bg: var(--color-elem-accent-red);
	--button-color-text: var(--color-elem-primary);
	--button-color-border: transparent;
}

.button.is-style-bordered:hover,
.button.is-style-bordered:active {
	--button-color-bg: var(--color-elem-primary);
	--button-color-text: var(--color-bg-primary);
	--button-color-border: var(--color-elem-primary);
}

.button.is-style-bordered:hover .icon,
.button.is-style-bordered:active .icon {
	filter: brightness(0);
}

.button.is-style-ticket::after {
	content: "";
	position: absolute;
	left: -50%;
	width: 48px;
	height: 100px;
	transform: rotate(15deg);
	background: linear-gradient(to right, #fff0, #fff9, #fff0);
	filter: blur(12px);
}

.button.is-style-ticket:hover::after,
.button.is-style-ticket:active::after {
	left: 125%;
	transition: var(--transition-l);
}

.buttons-list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
}


/* Other link item */

.link-item {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	padding: 20px;
	color: var(--color-elem-primary);
	border-radius: var(--border-radius-card-s);
	background-color: var(--color-bg-secondary);
	font-size: var(--font-size-content-s);
	font-weight: 500;
	letter-spacing: var(--letter-spacing);
	line-height: 110%;
	text-decoration: none;
	transition: var(--transition-s);
}

.link-item:hover,
.link-item:after {
	background-color: var(--color-bg-primary);
}

.link-item .icon {
	--icon-size: 24px;
	filter: brightness(0.5);
}


/* Headings block */

.headings-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	color: var(--color-elem-primary);
	text-align: center;
}

.headings-block .font-content-l {
	color: var(--color-elem-secondary);
}

.headings-block .button {
	margin-top: 8px;
}


/* ---------- Adaptation ---------- */

@media screen and (max-width: 1024px) {
	.content-grid,
	.content-grid.is-columns-4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 680px) {
	.font-heading-xl {
		font-size: var(--font-size-heading-m);
	}
	.font-heading-xxl {
		font-size: var(--font-size-heading-l);
	}

	.section .content-wrapper {
		gap: calc(var(--spacing-block)/2);
	}

	.content-grid,
	.content-grid.is-columns-4 {
		grid-template-columns: repeat(1, 1fr);
	}
}